/* ############# start global rules  ############# */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
}
.text-primary {
  color: #004956 !important;
}
.h2,
h2 {
  font-size: 1.714rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #444;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: #004d5a;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.cursor-pointer {
  cursor: pointer;
}
.ml-50,
.mx-50 {
  margin-right: 0.5rem !important;
}
.font-weight-bold {
  font-weight: 500 !important;
}
:root {
  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
}
.bg-1 {
  background: white;
  color: black;
}
.bg-2 {
  background: hsl(252, 30%, 17%);
  color: white;
}
/* ############# end global rules  ############# */
.row {
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: 2rem;
}
.auth-wrapper .brand-logo {
  display: flex;
}
.brand-logo svg {
  height: 45px;
  width: 40.95px;
}
.auth-wrapper .brand-logo .brand-text {
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 600;
}
.locale-auth {
  margin-top: 7px;
}
.text-right {
  text-align: right !important;
}
.feather {
  font-weight: 400;
  text-transform: none;
  line-height: 1;
}
label {
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1rem;
}
.d-block {
  display: block !important;
}
.input-group-prepend {
  margin-right: -1px;
  box-shadow: none;
}
.input-group-append,
.input-group-prepend {
  display: flex;
}
.input-group {
  position: relative;
  display: flex;
  box-shadow: none;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.form-group {
  margin-bottom: 1.5rem;
}
.input-group-text {
  transition: 0.15s;
  border-right: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #555;
  white-space: nowrap;
  padding: 0.438rem 1rem;
  margin-bottom: 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}
.form-control {
  border-radius: 4px;
}
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  box-shadow: none;
}
.form-control {
  padding: 0.438rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eee;
  border-radius: 4px;
}
.form-control {
  height: 3rem;
}
.form-control,
.otp-input-8-field input {
  display: block;
  width: 100%;
  height: 2.714rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #555;
}
button,
input {
  overflow: visible;
}
.custom-radio.custom-control {
  padding-left: 1.8rem;
}
.line-height-1 {
  line-height: 1 !important;
}
.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.45rem;
}
.custom-checkbox .custom-control-input,
.custom-radio .custom-control-input {
  width: 1.285rem;
  height: 1.285rem;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
.custom-control-input {
  position: absolute;
  z-index: -1;
  width: 1rem;
  height: 1.225rem;
  opacity: 0;
}
.custom-checkbox .custom-control-label,
.custom-radio .custom-control-label {
  font-size: 1rem;
  position: static;
  padding-left: 30px;
}
.custom-control-label {
  margin-bottom: 0;
  line-height: 1.3;
  position: relative;
  vertical-align: top;
}
.custom-control-label:before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 3px;
  top: 0.07rem;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #eee;
  display: block;
  pointer-events: none;
}
.btn-primary {
  background-color: #004956;
  border-color: #004956;
  padding-bottom: 1rem;
  color: #fff;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #555;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  box-shadow: none;
}
